#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
  perspective: 1000px;
}

.newDiv.flip {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  transform: scale(1);
  transform-style: preserve-3d;
 transition: transform .5s;
}

h1 {
  font-size: 5vw;
  letter-spacing: 0.3em;
  font-family: "ROBOTO", sans-serif;
  font-weight: 600;
  color: #4f2131;
  z-index: 1;
}
h3 {
  font-size: 3vw;
  font-family: "ROBOTO", sans-serif;
  font-weight: 600;
  color: #4f2131;
  z-index: 1;
}
body {
  background-color: rgb(132, 169, 201);
}